<h1>INSERTA UN EMPLEADO DE LA PLANTILLA</h1>

<form method="post">

    <label>HOSPITAl_COD</label>
    <input type="text" name="HospitalCod" />
    <label>EMPNO</label>
    <input type="number" name="EmpleadoNo" />
    <label>SALA_COD</label>
    <input type="text" name="SalaCod" />
    <label>APELLIDO</label>
    <input type="text" name="Apellido" />
    <label>FUNCION</label>
    <input type="text" name="Funcion" />
    <label>TURNO</label>
    <input type="text" name="Turno" />
    <label>APELLIDO</label>
    <input type="text" name="Salario" />


    <button class="btn btn-info">INSERTAR EMPLEADO PALNTILLA</button>
</form>